/* body {
  font-family: 'Helvetica';
} */
/* h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
} */
/* a {
  text-decoration: none;
} */
/* .closeicon{
  cursor: pointer;
  margin-left: 20px; 
  font-size: 30px;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
} */
.emptycart{
  margin-right: 135px;
  margin-left:50px;
}
.carthead{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  /* margin-left: 20px; */
  margin-top: 20px;
}
.cartcontainer{
  margin-top: 20px;
  /* margin-left: 20px; */
}
.row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  margin-top: 0px;
  flex: 1;
  margin-right: -50px;
}
.col-2 {
  flex: 0.59;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.col-3 {
  font-size: 17px;
  margin-right: 50px;
  /* margin-left: -40px; */
}
.currency{
  font-size: 20px;
  margin-left: -2px;
  margin-right: 2px;;
}
.block {
  padding: 0.8rem;
  border-radius: 0.5rem;
}
hr.line{
  margin-left:-15px;
  width: 385px;
}
hr.lowerline{
  margin-bottom: -30px;
}
.text-right {
  text-align: right;
  /* margin-right: 30px; */
}
.totalprice{
  font-weight: bold;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: -22px;
}
.price{
  margin-left: 125px;
  font-size: 25px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* img.small {
  max-height: 8rem;
} */
/* button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
} */
/* button.add {
  background-color: rgb(29, 204, 29);
  width: 1.5rem;
  font-size: 1.5rem;
} */
/* button.remove {
  background-color: #f04040;
  width: 1.5rem;
  font-size: 1.5rem;
  margin-left: 2rem;
} */
/* .col-4{
  border: 1px solid black;
  border-radius: 20px;
} */

.remove{
  margin-left: 0px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #e31837;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: bold;
  border-radius: 5px;
  /* font-family: sans-serif; */
}
.quant{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.add{
  background-color: rgb(17, 167, 17);
  cursor: pointer;
  padding-left: 8.1px;
  padding-right: 8.1px;
  padding-top: 5.5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
  border-radius: 5px;
}
/* button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
} */
.bottom{
  /* position: relative; */
  /* background-color: white; */
  padding-left:235px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  width:390px;
  z-index: 10;
  /* margin-right: 22px; */
  margin-top:15px;
  /* overflow: hidden; */
}
.border{
  border: 2px dotted black;
}
.checkout{
  font-size: 1.1rem;
  padding: 0.55rem 1rem;
  border: none;
  border-radius: 10px;
  background: #e31837;
  color: #fff;
  transition: 0.2 ease-out;
  display: flex;
  margin-left: 25px;
  flex-direction: row;
  box-shadow: 2px 3px 3px #00000052;
}

.checkout:hover{
    background: rgb(255, 255, 255);
    transition: 0.2s ease-out;
    cursor: pointer;
    color: #e31837;
    box-shadow: 2px 0px 3px #00000052;
}

.alert{
  /* margin-right:180px; */
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
  /* margin-right: 180px; */
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.backtocart{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #e31837;
  color: #fff;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border:0px;
  border-radius: 5px;
  box-shadow: -2px 0px 3px #00000052;
}
.backtocart:hover{
  background: rgb(255, 255, 255);
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #e31837;
  box-shadow: -1.5px 1.5px 3px #00000052;
}
.mobno{
  font-size:23px;
  margin-left:20px;
  margin-top: -10px;
  margin-bottom: -47px;
  /* margin-right: -200px;  */
}
.mobbox{
  margin-top: 20px;
  margin-left:190px;
  /* margin-right: -122px; */
  margin-bottom: 20px;
  border: 2px solid black;
}
.email{
  font-size:23px;
  margin-left:20px;
  margin-top: -10px;
  margin-bottom: -47px;
  /* margin-right: -200px;  */
}
.placeorder{
  margin-left: 150px;
  background-color: #e31837;
  color: #fff;
  cursor: pointer;
  border:0px;
  font-size: 17px;
  /* margin-right: -40px; */
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
}
.placeorder:hover{
  background: rgb(172, 255, 116);
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #e31837;
  box-shadow: -1.5px 1.5px 3px #00000052;
}
#myImage{
  width: 300px;
  display:none;
  position: fixed;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .carthead{
    font-size:27px;
  }
  .checkout{
    margin-left: -20px;
  }
  .price{
    margin-left: 85px;
    font-size: 25px;
  }
  .col-2{
    font-size: 13px;
    flex: 0.55;
  }
  .add{
    padding-left: 6px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4.3px;
  }
  .remove{
    padding-left: 7.5px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 1.3px;
    font-size: 19px;
    margin-left: -30px;
  }
  .quant{
    font-size: 17px;
  }
  .col-3{
    margin-right: 60px;
    margin-left: -20px;
    font-size: 18px;
  }
  .currency{
    font-size: 19px;
  }
  .backtocart{
    font-size: 13px;
    padding: 5.5px 6.5px;
    margin-left: 9px;
  }
  .mobno{
    font-size: 19px;
    margin-left: 110px;
    margin-right: -40px;
  }
  .mobbox{
    margin-top: 50px;
    margin-left: 40px;
    width: 250px;
  }
  .email{
    font-size: 19px;
    margin-left: 135px;
  }
  .placeorder{
    font-size: 18px;
    margin-left: 109px;
  }
  hr.line{
    width: 370px;
  }
  .alert{
    margin-right: 100px;
  }
}

@media screen and (max-width: 420px) {
  .carthead{
    font-size:27px;
  }
  .checkout{
    margin-left: -20px;
  }
  .price{
    margin-left: 85px;
    font-size: 25px;
  }
  .col-2{
    font-size: 14px;
    flex: 0.55;
  }
  .add{
    padding-left: 6px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4.3px;
  }
  .remove{
    padding-left: 7.5px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 1.3px;
    font-size: 19px;
    margin-left: -30px;
  }
  .quant{
    font-size: 17px;
  }
  .col-3{
    margin-right: 80px;
    margin-left: -30px;
    font-size: 18px;
  }
  .currency{
    font-size: 19px;
  }
  .backtocart{
    font-size: 14px;
    padding: 5.5px 6.5px;
    margin-left: 9px;
  }
  .mobno{
    font-size: 20px;
    margin-left: 100px;
    margin-right: -40px;
  }
  .mobbox{
    margin-top: 50px;
    margin-left: 40px;
    width: 250px;
  }
  .email{
    font-size: 20px;
    margin-left: 130px;
  }
  .placeorder{
    font-size: 19px;
    margin-left: 105px;
  }
  hr.line{
    width: 370px;
  }
  .alert{
    margin-right: 100px;
  }
}

@media screen and (max-width: 400px) {
  .carthead{
    font-size:28px;
  }
  .checkout{
    margin-left: -20px;
  }
  .price{
    margin-left: 85px;
    font-size: 25px;
  }
  .col-2{
    font-size: 14px;
    flex: 0.55;
  }
  .add{
    padding-left: 6px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4.3px;
  }
  .remove{
    padding-left: 7.5px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 1.3px;
    font-size: 19px;
    margin-left: -30px;
  }
  .quant{
    font-size: 17px;
  }
  .col-3{
    margin-right: 60px;
    margin-left: -20px;
    font-size: 18px;
  }
  .currency{
    font-size: 19px;
  }
  .backtocart{
    font-size: 13px;
    padding: 5.5px 6.5px;
    margin-left: 9px;
  }
  .mobno{
    margin-bottom: -60px;
    font-size: 12px;
    margin-left: 70px;
    margin-right: -40px;
  }
  .mobbox{
    margin-top: 50px;
    margin-left: 40px;
    width: 250px;
  }
  .email{
    font-size: 19px;
    margin-left: 135px;
  }
  .placeorder{
    font-size: 18px;
    margin-left: 109px;
  }
  hr.line{
    width: 370px;
  }
  .alert{
    margin-right: 100px;
  }
}

@media screen and (max-width: 380px) {
  .carthead{
    font-size:27px;
  }
  .checkout{
    margin-left: -50px;
  }
  .price{
    margin-left: 75px;
    font-size: 25px;
  }
  .col-2{
    font-size: 12px;
    flex: 0.55;
  }
  .add{
    padding-left: 6px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4.3px;
  }
  .remove{
    padding-left: 7.5px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 1.3px;
    font-size: 19px;
    margin-left: -35px;
  }
  .quant{
    font-size: 16px;
  }
  .col-3{
    margin-right: 90px;
    margin-left: -25px;
    font-size: 16px;
  }
  .currency{
    font-size: 17px;
  }
  .backtocart{
    font-size: 13px;
    padding: 5.5px 6.5px;
    margin-left: 9px;
  }
  .mobno{
    font-size: 19px;
    margin-left: 90px;
    margin-right: -40px;
  }
  .mobbox{
    margin-top: 50px;
    margin-left: 25px;
    width: 250px;
  }
  .email{
    font-size: 19px;
    margin-left: 115px;
  }
  .placeorder{
    font-size: 17px;
    margin-left: 90px;
  }
  .alert{
    margin-right: 115px;
  }
}

@media screen and (max-width: 350px) {
  .checkout{
    margin-left: -60px;
    padding: 0.5rem 0.9rem;
    font-size: 0.85rem;
  }
  .col-2{
    font-size: 10px;
    flex: 0.35;
  }
  .carthead{
    font-size: 25px;
  }
  .add{
    padding-left: 4px;
    padding-right: 4.5px;
    padding-top: 2.6px;
    padding-bottom: 3px;
  }
  .remove{
    padding-left: 6px;
    padding-right: 6.5px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    font-size: 17px;
    margin-left: -70px;
  }
  .quant{
    font-size: 15px;
  }
  .col-3{
    margin-right: 130px;
    margin-left: -70px;
    font-size: 15px;
  }
  .currency{
    font-size: 15px;
  }
  .price{
    margin-left: 45px;
    font-size: 20px;
  }
  .backtocart{
    font-size: 11px;
    padding: 5.5px 6.5px;
    margin-left: 9px;
  }
  .mobno{
    font-size: 15px;
    margin-left: 80px;
  }
  .mobbox{
    margin-top: 50px;
    margin-left: 30px;
    width: 200px;
  }
  .email{
    font-size: 15px;
    margin-left: 100px;
  }
  .placeorder{
    font-size: 14px;
    margin-left: 80px;
  }
  hr.line{
    width: 300px;
  }
  .alert{
    margin-right: 160px;
  }
}
/* @import url('https://rsms.me/inter/inter.css');

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}
.input {
  position: relative;
}
  .input__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  .input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
  } */
    /* .input:focus,
    .input + input:not(:placeholder-shown) {
       .input + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: var(--color-accent);
      }
    } */

