div.container{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 13%;
    /* left: 33vw; */
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    height: 550px;
    overflow: scroll;
    background-color: #ffc500;
    color: #b90e28;
}
    
    @media screen and (max-width: 400px) {
        div.container{
            width: 99%;
        }
      }

.close{
    cursor: pointer;
    margin-right:345px;
    margin-top: -50px;
    color: black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

.pizzatitle{
    margin-top: 5px;
    font-size: 23px;
    margin-left: 10px;
}

h1.title{
    margin-left: -160%;
}

div.pizzasize{
    border:1px solid rgba(0, 0, 0, 0.212);
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:10px;
    width:350px;
    border-radius:20px;
    font-size: 18px;
    color: rgb(56, 52, 52);
}
span.sizeprice{
    margin-left: 77%;
}

div.topping{
    border:1px solid rgba(0, 0, 0, 0.212);
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:10px;
    width:320px;
    /* border-radius:20px; */
    font-size: 18px;
    color: rgb(56, 52, 52);
}

span.toppingprice{
    position:absolute;
    left: 82%;
}
div.toppingsHead{
    font-size: 23px;
    margin-left: -50%;
}
div.otherAddsHead{
    font-size: 23px;
    margin-left: -36%;
}
/**
  Default Markup
**/

  
  .sizecontainer {
    max-width: 380px;
    /* margin: 0 auto; */
  }
  
  
  /**
    Component
  **/
  
  .card-input-element {
      /* display: none; */
      position: absolute;
      margin-top: 25px;
      margin-left: 13px;
      
  }
  
  .card-input {
      margin: 5px;
      width:370px;
      /* border:1px solid rgba(0, 0, 0, 1); */
      border-radius:20px;
      padding-left: 30px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 18px;
      color: rgb(0, 0, 0,0.822);
      background-color: #fcf3c3;
      box-shadow: 2px 1px 3px #00000052;
  }
  
  .card-input:hover {
      cursor: pointer;
  }
  
  .card-input-element:checked + .card-input {
       box-shadow: 0 0 1px 1px #2ecc71;
       background-color: #99f8c2;
       border-color: #2ecc71;
       box-shadow: -4px 3px 3px #00000052;
   }

   .card-input-2 {
    margin: 5px;
    width:370px;
    /* border:1px solid rgba(0, 0, 0, 1); */
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.822);
    background-color: #fcf3c3;
    box-shadow: 2px 1px 3px #00000052;
}

.card-input-2:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input-2 {
    box-shadow: 0 0 1px 1px #2ecc71;
    background-color: #99f8c2;
    border-color: #2ecc71;
    box-shadow: -4px 3px 3px #00000052;
 }
.totalcost{
    font-size: 22px;
    font-weight: 700;
}
.totalprice{
    padding-left: 17px;
    margin-top: -28px;
    font-size: 22px;
    /* margin-bottom: 40px; */
}
.footer{
    background-color: rgb(255, 254, 208);
    padding-right: 170px;
    padding-left: 10px;
    position:fixed;
    margin-top: 1200px;
}